name: ci

on:
  push:
    branches: [master]
    tags: [v*]
  pull_request:
    branches: [master]

jobs:
  matrix:
    strategy:
      matrix:
        go-version: [^1.*, 1.18.x]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v6
      - run: go test -v ./...
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Coverage on latest 1.x Go
        uses: actions/setup-go@v6
        with:
          go-version: ^1.*
      - uses: actions/checkout@v6
      - run: go test -v -coverprofile=coverage.out -covermode=count ./...
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.out
          fail_ci_if_error: true
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: ^1.*
      - uses: actions/checkout@v6
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
